<div class="container">
    <h5>LISTADO DE EQUIPOS</h5>
    <button routerLink="/add" type="button" class="btn btn-dark">AGREGAR</button>

    <table class="table">
        <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Nombre</th>
                <th scope="col">Logo</th>
                <th scope="col">Editar</th>
                <th scope="col">Eliminar</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let equipo of ListarEquipo">
                <th>{{equipo.id_equipo}}</th>
                <td>{{equipo.nombre}}</td>
                <td><img src="{{equipo.logo}}" alt="" width="50px" height="auto"></td>
                <td>
                    <button *ngIf="equipo.id_equipo" (click)="modificar(equipo.id_equipo)" type="button" class="btn btn-primary">EDITAR</button>
                </td>
                <td>
                    <button *ngIf="equipo.id_equipo" (click)="eliminar(equipo.id_equipo)" type="button" class="btn btn-danger">ELIMINAR</button>
                </td>
            </tr>
        </tbody>
    </table>
    </div>
